@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
@plugin 'flowbite/plugin';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--color-bg-light: #f8fafc;
	--color-bg-dark: #1a202c;
	--color-primary-50: #eff6ff;
	--color-primary-100: #dbeafe;
	--color-primary-200: #bfdbfe;
	--color-primary-300: #93c5fd;
	--color-primary-400: #60a5fa;
	--color-primary-500: #2563eb;
	--color-primary-600: #1d4ed8;
	--color-primary-700: #1e40af;
	--color-primary-800: #1e3a8a;
	--color-primary-900: #172554;

	--color-secondary-50: #fff7ed;
	--color-secondary-100: #ffedd5;
	--color-secondary-200: #fed7aa;
	--color-secondary-300: #fdba74;
	--color-secondary-400: #fb923c;
	--color-secondary-500: #f59e42;
	--color-secondary-600: #ea580c;
	--color-secondary-700: #c2410c;
	--color-secondary-800: #9a3412;
	--color-secondary-900: #7c2d12;

	--color-text-light: #1e293b;
	--color-text-dark: #f1f5f9;
	--color-border-light: #e2e8f0;
	--color-border-dark: #334155;
}

@source "../node_modules/flowbite-svelte/dist";
@source "../node_modules/flowbite-svelte-icons/dist";

@layer base {
	/* disable chrome cancel button */
	input[type='search']::-webkit-search-cancel-button {
		display: none;
	}
}

.flexilte-debug {
	background-color: rgba(50, 205, 50, 0.2);
	border: 1px solid #32cd32;
}

.editor-area {
	background-color: darkcyan;
	border: 1px pink solid;
}
.grid-stack-item-content {
	background: rgba(0, 0, 0, 0.2);
}
